body{
    overflow-x: hidden;
}

div#bg {
    background-image: url(back.jpg);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    pointer-events: none;
}

.headline {
  font-family: garamond;
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 180%;
   position: relative;
   padding-top: 2%;

   h2 {
     font-size: 140%;
   }
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    font-family: garamond;
    font-size: 25px;
    z-index:10;
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
    }
     
    ul {
      display: flex;
      list-style: none;
    }
     
    li {
        margin-left: 10%;
    }
      
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: grey;
      text-decoration: none;
    }
 }


.pics_right {
    .box_left{
      width: 75%;
      padding-top: 1%;
      padding-left: 5%;
    }
     
    .box_right {
      display: flex;
      width: 25%;
      align-items: center;
      padding-left: 2%;
    }
}
    
.field {
    font-family: garamond;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 3%;
}
      
.text {
  color: white;
  font-size: 20px;
  font-family: inherit;
}

.impressum {
 width: 100%;
 height: auto;
 position: fixed;
 display: flex;
 background-color: black;
 bottom: 0;
 left:0;
 margin-top:5%;
 
 .text {
    font-size: 20px;
 }
}

label {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  width: 30%;
}

.bigbox {
  display: flex;
}

.left {
  justify-content: start;
  width: 50%;
}

.right {
  justify-content: end;
  width: 50%;
}

.grid-item {
    padding: 4px;
    font-family: garamond;
}

#tableorder {
  border: 2px;
  border-color: white;
}

.ordersummary {
  padding: 10px;
}

